/* Style Login */
.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-register select {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-reset input {
    margin-bottom: -1px;
    border-radius: 0;
}

.img-header {
    margin-top: -4px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    padding: 30px;
}
